
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}






/* shared styles */
.display-flex{
    display: flex;
}
.btn-primary{
    width: 270px;
    height: 50px;
    background-color: #E95A08;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
}

.primary-color{
    color: #E95A08;
}
/* header styles  */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    
}
.nav-item{
    list-style: none;
    margin-right: 48px;
}
.home{
    font-weight: bold;
    color:#252432;
}
.shop{
    font-weight: 400;
    color:#8987A1;
}
.about-us{
    font-weight: 400;
    color: #8987A1;
}
.cart{
    font-weight: 400;
    color: #000000;
}
.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin-top: 109px;
}
.banner-content{
    max-width: 570px;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 0px;
}  
.banner-description{
    font-weight: 400;
    font-size: 1.36rem;
    color: rgba(0, 0, 0, 0.5);
}
.banner-img{
    width: 100%;
}
/* main section styles */
.our-plants{
    max-width: 1140px;
    margin: 0 auto;
 
    
}
.section-container{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.section-title{
    font-weight: bold;
    font-size: 3.125rem;
    margin-bottom: 0;
    margin-top: 120px;
    
}
.section-description{
    font-weight: 400;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 126px;
    margin-right: 126px;
}
.plants-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.plat-name{
    font-weight: 400;
    font-size: 1.375rem;
    color: #111111;
    margin-top: 30px;
    margin-bottom: 0px;

}
.plant-value{
    font-weight: bold;
    font-size: 1.375rem;
    color: #111111;
    margin-top: 10px;
   
}
.plant{
    text-align: center;
   
}
.btn-primary{
    margin-bottom: 30px;
    gap: 10px;
    border: none;
}



/* responsive media query */
@media screen and (max-width: 576px) {
    .hide{
        display: none;
    }
    .banner{
       flex-direction: column-reverse;

    }
    .banner-img{
        max-width: 100%;
    
    }
    .banner-title{
        font-size: 2.5rem;
    }
    .banner-description{
        font-size: 1.2rem;
        width: 100%;
    
    }
    
    
    }
