@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}



.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}






/* shared styles */
.display-flex {
    display: flex;
}

.btn-primary {
    width: 270px;
    height: 50px;
    background-color: #E95A08;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 30px;
    border: none;
}

.primary-color {
    color: #E95A08;
}

/* header styles  */

/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;

}

.nav-item {
    list-style: none;
    margin-right: 48px;
}

.home {
    font-weight: bold;
    color: #252432;
}

.shop {
    font-weight: 400;
    color: #8987A1;
}

.about-us {
    font-weight: 400;
    color: #8987A1;
}

.cart {
    font-weight: 400;
    color: #000000;
}

.cart-icon {

    width: 16px;
}

.nav-link {
    text-decoration: none;
}

.navbar,
.banner {
    max-width: 1140px;
    margin: 0 auto;
}

/* banner styles */
.banner {
    display: flex;
    align-items: center;
    margin-top: 109px;
}

.banner-content {
    max-width: 570px;
}

.banner-title {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 0px;
}

.banner-description {
    font-weight: 400;
    font-size: 1.36rem;
    color: rgba(0, 0, 0, 0.5);
}

.banner-img {
    width: 100%;
}

/* main section styles */
.our-plants {
    max-width: 1140px;
    margin: 0 auto;


}

.section-container {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-weight: bold;
    font-size: 3.125rem;
    margin-bottom: 0;
    margin-top: 120px;

}

.section-description {
    font-weight: 400;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 126px;
    margin-right: 126px;
    margin-bottom: 30px;
}

.plants-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.plat-name {
    font-weight: 400;
    font-size: 1.375rem;
    color: #111111;
    margin-top: 30px;
    margin-bottom: 0px;

}

.plant-image {
    /* height: 100%; */
    width: 100%;
}

.plant-value {
    font-weight: bold;
    font-size: 1.375rem;
    color: #111111;
    margin-top: 10px;

}

.plant {
    text-align: center;

}

/* .btn-primary {
    
} */

/* plants lover section style */
.flower-img {
    position: relative;


}

#badge-img {
    width: 286px;
    height: 286px;
    position: absolute;
    margin-top: -8%;
    margin-left: -10%;
}

.plants-lover {
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    margin-top: 200px;
    gap: 40px;
    align-items: start;
    justify-content: start;
}

.lover-title {
    font-weight: bold;
    font-size: 3.125rem;
    color: #000000;
    margin-top: 20px;
    /* height: 137px; */


}

.lover-description {
    font-weight: 400;
    font-size: 1.375rem;
    width: 80%;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.5);

}

ul li {
    margin-bottom: 20px;
}

/* latest deals */
.deals {
    max-width: 1140px;
    text-align: center;

    margin: 0 auto;
    margin-top: 180px;
}

.deals-title {
    font-weight: bold;
    font-size: 3.125rem;
}

.deals-description {
    max-width: 888px;
    

    font-weight: 400;
    font-size: 1.375;
    width: 70%;
    margin: 10px auto;
    color: rgba(0, 0, 0, 0.5)
    
}

.deals-container {
    display: flex;
    gap: 28px;
    align-items: center;
    justify-content: center;
    height: 423px;
    max-width: 1140px;


}

.left-img {
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: 100%;
    width: 367px;
}

.left-img1 {
    background-image: url(../assets/deal-bloom.png);
    width: 100%;
    height: 100%;

    border-radius: 14px;
     background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.left-img2 {
    background-image: url(../assets/deal-ana.png);
    width: 100%;
    height: 100%;
    border-radius: 14px;
     background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-img {
    background-image: url(../assets/deal-zabo.png);
    width: 753px;
    height:423px;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-heading1,
.left-heading2 {
    font-weight: bold;
    font-size: 1.25rem;
    color: #FFFFFF;
    /* padding: 65px 47px 114px 49px; */

}

.shop3 {
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: underline;
    /* padding: 111px 142px 83px 144px ; */
}

.right-heading {
    font-weight: bold;
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.shop2 {
    font-weight: 600;
    font-size: 1.375rem;
    color: #FFFFFF;
    text-decoration: underline;
}

/* colorful bunch style */
.subscribe-banner {
    background-image: url('../assets/news-letter-bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 120px;
    height: 533px;
    /* max-width: 1440px; */
}

.subscribe-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.4);  */
    z-index: 1;
}

.overlay {
    position: relative;
    z-index: 2;
    text-align: center;
}

.subscribe-title {
    font-weight: bold;
    font-size: 3.125rem;
}

.subscribe-form {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.subscribe-form input[type="email"] {
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    height: 40px;
}

.subscribe-form button {
    padding: 10px 20px;
    background-color: #f4511e;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
    width: 186px;
    /* height: 40px; */
}

.subscribe-form input:focus {
    outline: none;
}

/* footer styles */
.footer {
    display: flex;
    max-width: 1120px;
    /* height: 248px; */
    padding: 20px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 110px;
    margin: 0 auto;

}

.footer-description {
    width: 359px;
    height: 81px;
    font-weight: 400;
    font-size: 1.325rem;
    color: rgba(0, 0, 0, 0.5);
}

.footer-middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    text-align: start;
    align-items: center;


}

.footer-middle>a {
    text-decoration: none;
    margin-top: 26px;
    color: rgba(107, 114, 128, 1);

}

.footer-end {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: start;
    height: 60%;
    text-align: center;

}

.social-icon {
    height: 30px;
    width: 30px;
}








/* responsive media query */
@media screen and (max-width: 576px) {
    .hide {
        display: none;
    }

    .cart {
        width: 100px;
        display: flex;
        flex-direction: row;
    }

    .footer {
        flex-direction: column;
        text-align: left;
        align-items: start;
        gap: 20px;
    }

    .footer-middle {

        grid-template-columns: repeat(1, 1fr);




    }



    .section-description {

        margin-left: 26px;
        margin-right: 26px;
    }

    .navbar,
    .banner {
        max-width: 361px;
        margin: 0 auto;
    }

    .plants-lover {
        flex-direction: column;
        gap: 14px;
    }

    .deals-container {
        flex-direction: column;
    }

    .banner {
        flex-direction: column-reverse;

    }

    .banner-img {
        max-width: 100%;

    }

    .left-img1,
    .left-img2 {
        /* width: 100%; */
        height: 581px;
    }

    .right-img {
        width: 367px;
        height: 581px;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .banner-description {
        font-size: 1.2rem;
        width: 100%;
    }

    .plants-container {
        grid-template-columns: repeat(2, 0.5fr);
        justify-items: center;
        gap: 5px;
    }

    .plant {
        width: 180px;
        margin-top: 30px;
    }

    .flower-img {
        width: 100%;
    }

    .btn-primary {
        width: 100%;
        font-size: 0.8rem;
    }

}